.star-rating {
    direction: rtl;
    display: inline-block;
    font-size: 1.5rem;
  }
  .star-rating input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
  }
  .star-rating label {
    color: #ddd;
    cursor: pointer;
  }
  .star-rating input[type="radio"]:checked ~ label {
    color: #f7d106;
  }
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: #f7d106;
  }
  /* Ranking card */
  .card-ranking {
      margin-top: 20px;
  }
  .header-blue {
      background-color: #3f51b5;
      color: #fff;
  }
  .ranking-scroll {
      max-height: 300px;
      overflow-y: auto;
  }

  /* Tabelas */
.table {
  background-color: white;
  border: 1px solid #ced4daa2; /* ajuste a cor e espessura conforme necessário */
}
.table th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ced4daa2; /* ajuste a cor e espessura conforme necessário */
}
.table td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ced4daa2; /* ajuste a cor e espessura conforme necessário */
}
.tabelaEstilizada {
  border-collapse: separate;
  border-spacing: 0 0px;

}
.tabelaEstilizada tbody tr {
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
}