h1 {
    color: rgb(216, 0, 0);
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.table {
    background-color: white;
}

.table th {
    text-align: center;
    vertical-align: middle;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

/* Botão de editar (azul) */
tbody a.btn-edit {
    color: #0d6efd; /* Azul Bootstrap */
    margin-right: 8px;
}

tbody a.btn-edit:hover {
    color: #0a58ca; /* Azul mais escuro */
    transform: scale(1.2);
}

/* Botão de remover (vermelho) */
tbody a.btn-remove {
    color: #dc3545; /* Vermelho Bootstrap */
}

tbody a.btn-remove:hover {
    color: #b02a37; /* Vermelho mais escuro */
    transform: scale(1.2);
}

/* CSS para igualar a altura dos cards no dashboard */
/* Certifique-se de adicionar o id "dashboardCards" na row específica do dashboard */
#dashboardCards > div {
    display: flex;
}

#dashboardCards > div > .card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#dashboardCards .card-body {
    flex-grow: 1;
}

/* Estilo do Toast */
.toast-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1050; /* Garantir que o toast esteja acima de outros elementos */
    max-width: 200px;
    padding: 10px;

}

.toast {
    display: none; /* Inicialmente oculto */
    opacity: 0;
    transition: opacity 0.5s ease;
}

.toast.show {
    display: block;
    opacity: 1;
    background-color: #28a745;
    color: white;
}

.toast-body {
    padding: 50px;
    font-size: 16px;
}

.toast-body i, button{
    margin-right: 10px;
}

/* Customização de cores do Toast */
.toast-success {
    background-color: #28a745; /* Verde para sucesso */
}

.toast-error {
    background-color: #dc3545; /* Vermelho para erro */
}

.toast-info {
    background-color: #17a2b8; /* Azul para informações */
}
